@import 'colors';

.card {
    background: $light;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    border-radius: 16px;
    position: relative;
    margin: 2rem;
    &-image {
        height:200px;
        width: 400px;
        border-radius: 15px 15px 0 0;
    }
    &-main {
        margin: 0 2rem 0 2rem;
        height: 240px;
        flex-shrink: 0;
        text-align: center;
        position: relative;
        z-index: 1;
        top: -20px;
        &-price {
            background-color: $deepOrange;
            color: $light;
            font-size: 0.9em;
            width: 50px;
            padding: 5px;
            margin-left: auto;
            margin-right: auto;
        }
        &-header {
            font-size: 1em;
            padding: 1.3em 0 0.5em 0;
        }
        &-description { 
            font-size: 0.8em;
            font-family: 'Work Sans';
            padding: 0.3em 0 0.3em 0;
        }
    }
    &-footer {
        height: 60px;
        padding: 0.3em;
        flex-shrink: 0;
        text-align: center;
        border-top: $dark solid 1px;
        &-value {
            font-size: 0.9em;
        }
        &-lessons {
            font-size: 0.7em;
            font-family: 'Work Sans';
        }
    }
}