@import 'card';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: $dark;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}